{% extends 'blog/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>
<p>By: {{ object.author.username }}</p>
{% if user == object.author %}
    <a href="{% url 'post-update' object.pk %}">Edit</a>
    <a href="{% url 'post-delete' object.pk %}">Delete</a>
{% endif %}
<a href="{% url 'posts' %}">Back to Posts</a>
{% endblock %}
class PostDetailView(DetailView):
    model = Post
    template_name = 'blog/post_detail.html'

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        context['comment_form'] = CommentForm()
        return context
